@import "tailwindcss";

@theme {
  --color-back: #0d0f14;
  --color-surface: #161a21;
  --color-text-primary: #e4e6eb;
  --color-text-secondary: #a0a3a9;
  --color-blue-primary: #3a7cff;
  --color-success-verified: #2ecc71;
  --color-warning-suspicious: #f1c40f;
  --color-error-deepfake: #e74c3c;
  --color-divider-border: #2a2e36;

  --breakpoint-2xl: 1440px;
}

body {
  @apply bg-back text-text-primary;
}
